<!DOCTYPE html>
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>Arsh_scheduling</title>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/uikit-rtl.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href= />
    <script src="{% static 'blog/js/uikit.min.js' %}" ></script>
    <script src="{% static 'blog/js/uikit-icons.min.js' %}"  ></script>
    <script src="{% static 'blog/js/jquery.min.js' %}" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


</head>

<body onload="startTime()">
    <header>
        <div class="example1 uk-background-contain uk-background-muted uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed k-background-image@xl width:100%" style=" z-index: 1; background-image: url({% static 'blog/image/clk.jpg' %});  position: relative;opacity:70%; width:100%;clear: both;">
            <p class=" uk-float-left topright namemain" ><b>  سامانه ثبت ساعات شرکت عرش</b></p>

             <img id="logo" height=5% width=5% style="position: absolute;  top: 8px; left: 16px;" src="{% static 'blog/image/arsh.png' %}" alt="logo" />


        </div>
    </header>

    <nav class="flex clearfix " id="myTopnav">
        <div class="topnav" >
          <a  href="#home" class="active" >صفحه اصلی</a>
          <a href="#profile" >مرخصی</a>
             <div class="dropdown " style="inline">
                <button class="dropbtn">تنظیمات
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="{% url 'profile' %}">پروفایل</a>
                  <a href="">خروج</a>
                </div>

             </div>
                <!--<div id="txt" style="float: left, direction:ltr left:0 position:absolute"></div>-->
        </div>

    </nav>



</body>
</html>