{% include "blog/base.html" %}

{% load static %}

{% block content %}

    <nav class="flex clearfix " id="myTopnav" style="z-index: 2;">
        <div class="topnav" >

          <a  href="{% url 'home' %}" style="color: white" >صفحه اصلی</a>
          <a  href="{% url 'logout' %}" style="color:white;" >خروج</a>

    </nav>



<div  style="width:100%" >
     <form style="width:100%" method="post" action="add" id="one">
         {% csrf_token %}
         <aside>

            <div uk-height-viewport="expand: false" class="flex sidenav uk-align-right clearfix uk-overflow-auto" >
                <span class=" sp" style="float: right">
                   <a href="#" class="uk-icon-button " uk-icon=plus  onclick="document.forms['one'].submit();"></a>
                     &nbsp&nbsp </span><p id="title_message" style="color:white ; font_size:200px;">بسته های کاری</p>
                {% for box in workboxes %}
                      <a href="{% url 'showJobs' pk=box.pk %}" class="uk-align-right" id="addingbox" > {{box.title }} </a>
                {% endfor %}

            </div>
        </aside>
     </form>

    <div  class="uk-grid uk-width-auto@m uk-text-right uk-overflow-auto" style=" width:70%; padding: 5%; position: relative ">

<div>
            {% if request.user.is_authenticated %}

{% if request.user.avatar %}
        <img  height=15% width=15% style=" float:right;z-index: 1; border-radius: 50% ; position: relative; top:5px ; right:0px ; display: inline " src="../media/{{ request.user.avatar }}"  /><br><br>
       &nbsp;&nbsp;&nbsp;  <p style=" float:right; display: inline; color:black;">  خوش آمدی {{ request.user.name }} </p>

{% else %}
                         <img  height=5% width=5% style=" float:right;z-index: 1; border-radius: 50% ; position: relative; top:5px ; right:0px ; display: inline " src="static/blog/image/anynom.jpg"  />
       &nbsp;&nbsp;&nbsp;   <p style=" float:right; display: inline; color:black;">  خوش آمدی {{ request.user.name }} </p>

                       {% endif %}


        {% endif %}
</div>
    </div>
</div>

{% endblock %}