{% include "blog/base.html" %}

{% load static %}



{% block content %}

    <nav class="flex clearfix " id="myTopnav">
        <div class="topnav" >
          <a  href="#home" class="active" >صفحه اصلی</a>
          <a href="#profile" >مرخصی</a>
             <div class="dropdown " style="inline">
                <button class="dropbtn">تنظیمات
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">پروفایل</a>
                  <a href="">خروج</a>
                </div>

             </div>
                <!--<div id="txt" style="float: left, direction:ltr left:0 position:absolute"></div>-->
        </div>

    </nav>


<div  style="width:100%" >


    <div  class="uk-grid uk-width-auto@m uk-text-right uk-overflow-auto" style=" width:70%; padding: 5%; position: relative ">
<h2 style="text-direction: rtl; float: right;">ثبت نام</h2><br>
<form method="post" action="upload_file" id="three" enctype="multipart/form-data">
      {% csrf_token %}
<label>نام و نام خانوادگی</label><br>
    <input type="text" class="uk-float-right inbox" name="name" id="name"  ><br><br>
    <label>ایمیل</label><br>

    <input type="text" class="uk-float-right inbox" name="email" id="email"  ><br><br>
        <label>شماره</label><br>

    <input type="text" class="uk-float-right inbox" name="phone" id="phone" ><br><br>
        <label>رمز عبور</label> <br>

    <input type="password" class="uk-float-right inbox" name="passw" id="passw"  ><br><br>
<label>عکس خود را بارگذاری کنید</label><br>

    <input type="file" name="myfile" id="myfile"><br><br>

     <button type="submit" onclick="myFunction()">ثبت نام</button>
     {% if uploaded_file_url %}
    <p> <a href="{{ uploaded_file_url }}" style="color: black; float: right; text-align:rtl;">فایل آپلود شده</a></p>
      {% endif %}


</form>
    </div>
     <p><a href="{% url 'login' %}">بازگشت به صفحه ورود</a></p>


</div>

{% endblock %}
