{% include "blog/base.html" %}

{% load static %}

{% block content %}

    <nav class="flex clearfix " id="myTopnav" style="z-index: 2;">
        <div class="topnav" >
                   <div style="float:left;">
            {% if request.user.is_authenticated %}

{% if request.user.avatar %}
        <img  height=55px width=55px style=" float:left;z-index: 1; border-radius: 50% ; position: relative; top:5px ; right:0px ; display: inline " src="../media/{{ request.user.avatar }}"  />
       &nbsp;&nbsp;&nbsp;   <p style=" float:left; display: inline; color:white;">  خوش آمدی {{ request.user.name }} </p>

{% else %}
                         <img  height=5% width=5% style=" float:left;z-index: 1; border-radius: 50% ; position: relative; top:5px ; right:0px ; display: inline " src="{% static 'blog/image/anynom.jpg' %}"  />
       &nbsp;&nbsp;&nbsp;   <p style=" float:left; display: inline; color:white;">  خوش آمدی {{ request.user.name }} </p>

                       {% endif %}
        {% endif %}
</div>
            <a  href="{% url 'home' %}" style="color: white" >صفحه اصلی</a>

          <a  href="{% url 'logout' %}" class="dropbtn" style="color:white;" >خروج</a>

    </nav>


<div  style="width:100%" >
     <form style="width:100%" method="post" action="add" id="one">
         {% csrf_token %}
         <aside>

 <div uk-height-viewport="expand: false" class="flex sidenav uk-align-right clearfix uk-overflow-auto" >
                <span class=" sp"  style="float: right">
                    <a href="#" class="uk-icon-button " uk-icon=plus  onclick="document.forms['one'].submit();"></a>
                     &nbsp&nbsp </span><p id="title_message" style="color:white ; font_size:20px;">بسته های کاری</p>
                {% for box in workboxes %}
                      <a href="{% url 'showJobs' pk=box.pk %}" class="uk-align-right" id="addingbox" > {{box.title }} </a>
                {% endfor %}

            </div>
        </aside>
     </form>

    <div  class="uk-grid uk-width-auto@m uk-text-right uk-overflow-auto" style=" width:70%; padding: 5%; position: relative ">



 {% if request.user.is_authenticated %}
        <!--<p class="uk-text-center" style="border:solid; padding:10px;float:right;direction:rtl; font-size:30px; color:green;"><strong>{{works.first.workbox.title}}</strong></p><br>-->

        <table id="time" style="top: 5%" class="rtl uk-table uk-table uk-table-striped" >

               <thead>
                    <tr>
                        <th class="uk-width-auto"><strong> عنوان کار</strong></th>
                        <th class="uk-width-auto" ><strong> شروع</strong></th>
                        <th class="uk-width-auto"><strong>  پایان</strong></th>
                        <th class="uk-width-auto"><strong>  مدت زمان  </strong></th>
                    </tr>
               </thead>

               <tbody>
                {% for work in works %}

                    <tr>
                        <th class="uk-width-auto">{{work.title }} </th>
                        <th class="uk-width-auto"><time>{{work.beginnig_time | time:"g:i"}}</time></th>


                        {% if work.finish_time == None %}

                                <th class="uk-width-auto">
                        <form method="post" action="{% url 'finish_task' pk2=work.workbox.pk pk3=work.pk %}" >
                            {% csrf_token %}
                            <input id="submit" type="submit" class="uk-button" value="اتمام" />
                        </form>
                                                             <th class="uk-width-auto"></th>

                        {% else %}

                        <th class="uk-width-auto">{{work.finish_time| time:"g:i"}}</th>
                                                <th class="uk-width-auto">{{ work.dd }}</th>

                        {% endif %}



                    </tr>

               {% endfor %}

               </tbody>


           </table><br><br>

<form method="post" class="uk-width-3-4" style="float: right;" action="addjob" id="two">
      {% csrf_token %}

    <input type="text" class=" uk-input uk-float-right " style="padding:10px; width:150%" name="title" id="title" placeholder="کار خود را وارد کنید..." ><br><br>
    <input type="hidden" id="pk" name="pk" value={{pkey}}>


</form>
   {% endif %}
    </div>


</div>

{% endblock %}